
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;;
}
nav{
    width: 100%;
    position: sticky !important;
    left: 0;
    top: 0;
    box-shadow: opx 5px 8px rgba(0,0,0,0.5);
    z-index: 10;

}
.navbar-brand{
    font-weight: 600;
}
.nav-link{
    color: white !important;
    border-bottom: 1px solid transparent;
}
.nav-link:hover{
    border-bottom: 1px solid white;
}
section{
    width: 100%;
    min-height: 100vh;
}
/* home section */

#home{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)),url(/widthimage.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;

}
#home p{
    position: absolute;
    top: 50%;
    font-size: 100px;
    opacity: 0;
    animation: text 3s ease-in-out;
}
#home p:nth-child(1){
    animation-delay:0s ;
}
#home p:nth-child(2){
    animation-delay:3s ;
}
#home p:nth-child(3){
    animation-delay: 6s;
}
#home p:nth-child(4){
    animation-delay:9s ;
}
@keyframes text{
    50%{
        opacity: 1;
    }
    100%{
        opacity:0;
    }
}
#home span{
    color: yellow;
}
@media screen and (max-width:576px) {
    #home p{
        font-size: 30px;
    }
    
}
/* about section */
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: pink;
}
.circle{
    width: 300px;
    height: 300px;
    background: rgb(205, 196, 196);
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 5px 12px rgba(0,0,0,.7);
    transition: 1s;
}
.circle img{
    position: absolute;
    height: 250px;
    top: 8%;
    left: 23%;
    filter: drop-shadow(0px 30px 15px rgba(0,0,0,.4));
    transition: 1s;
}
.circle:hover{
    width: 500px;
    height: 300px;
    border-radius: 10px;
    transition: 1s;
}
.circle:hover img{
    position: absolute;
    left: 3%;
    transition: 1s;
}
.circle .content{
    opacity: 0;
}
.circle:hover .content{
    position: absolute;
    top: 20%;
    right: 0;
    color: white;
    width: 50%;
    opacity: 1;
    transition: 1s;
}
@media screen and (max-width:576px) {
    .circle{
        width: 300px;
        height: 300px;
        background: rgb(205, 196, 196);
        border-radius: 50%;
        position: relative;
        box-shadow: 0px 5px 12px rgba(0,0,0,.7);
        transition: 1s;
    }
   
    .circle:hover img{
        position: absolute;
        left: 30%;
        transition: 1s;
    }
    .circle:hover{
        width: 400px;
        height: 450px;
        border-radius: 10px;
        transition: 1s;
    }
    .circle .content{
        opacity: 0;
    }
    .circle:hover .content{
        position: absolute;
        top: 70%;
        right: 0;
        color: white;
        padding: 15px;
        width: 100%;
        opacity: 1;
        transition: 1s;
    }
}
    /* skill section */
    #skill{
        padding-top: 5%;
        background: #f9f916;
    }
    #skill .container{
        margin-top: 6%;
        margin-bottom: 6%;
    }
    label{
        font-size: 20px;
    }
    .progress{
        height: 30px !important;
        box-shadow: 2px 4px 5px gray, -2px -2px 5px white ;
    }
    .progress:hover{
        box-shadow: 2px 4px 5px white, -2px -2px 5px grey;

    }

    /* project */
    #projects{
        display: flex;
        justify-content: center;/*x axis */
        align-items: center;/* y axiS */
        padding-top: 3%;
        background: linear-gradient(75deg,skyblue,violet);
        

    }
    .carousel{
        width: 80%;
        height: 80vh;
        /* background: greenyellow; */
        box-shadow: 10px 20px  10px rgba(0,0,0,.4);
    }
    iframe{
        width: 100%;
        height: 80vh;
    }
    @media screen and (max-width:576px){
        .carousel{
            width: 90%;
            height: 50vh;
            /* background: greenyellow; */
            box-shadow: 10px 20px  10px rgba(0,0,0,.4);
        }
        iframe{
            width: 100%;
            height: 50vh;
        }
    }
    /* pricing */
    #price{
        padding-top: 5%;
        background: greenyellow;
    }
    .card{
        margin: 15%;
    }
    .card:hover{
        box-shadow: 8px 8px 15px rgba(0,0,0,.4);
        transition: .2s;
    }
/* contact */
    #contact{
        padding-top: 7%;
        background-color: antiquewhite;
    }
    #contact iframe{
        box-shadow:15px 20px 10px rgba(0,0,0,.4) ;
    }